*{margin: 0;
padding: 0;
}
.container1{display: flex;
height: 40px;
background-color: rgba(255, 235, 205, 0.797);
text-align: center;}
a{padding: 20px
;
font-size: 20px
   
;}
.main{text-align: center;}
h2{display: inline;
margin-left: 150px;
color: green;
padding-top: 10px;}
h1{padding-top:150px;
color:red;}

a{text-decoration: none;
}
.ddd{margin-left: 400px;
text-align: center;}
.div{margin-left: 300px;
}

.main2{
    background-image: url(https://media.istockphoto.com/id/1648044864/photo/the-idea-is-that-online-marketing-digital-channels-relies-on-internet-to-communicate-and.jpg?s=612x612&w=0&k=20&c=tBHnsR6yAjTReCWf0NxvghXDat7gB5e-ZqtBJWA2cpY=);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
button{background-color: red;
height: 30px;
width: 80px;
margin-top: 20px;
margin-left: 10px;
color: antiquewhite;}
.bt{background-color: green;}
.d1{background-color: rgba(0, 128, 64, 0.721);
width: 100%;
height: 250px;
display: flex;}
.d2{width: 30%;
text-align: ;}
p{

padding-top: 8px;}
.d3{width: 30%;
    
}
.d4{width: 30%;
}

.sp{margin-top: 20px;}
.aaa{padding-left: 70px;}
.amar{padding-left: 60px;}
.how{text-align: center;
}
.ser{font-size: 20px;
    color:black;
    font-size: larger;
}
.hover:hover{
    background-color: blue;
    transition: .5s;
}
.for{margin-top: 20px;


}
.log{font-size: 18px;
    display: inline-block;
    border-radius: 20%;

   
margin-top: 10px;
background-color: yellow;

}
.border{width: 200px;
height: 200px;
border: 2px solid red;
text-align: center;
margin-left: 535px;
box-shadow: 0px 0px 10px 10px purple;
background-color: burlywood;
}
.sub{background-color: red;}
.hama{margin-top: 0px;
font-size: 20px;
padding-left: 20px;
padding-right: 20px;}
h3{;
margin-top: 20px;
}

.hasi{margin-left: 55px;}

